# DO NOT ADD SECRETS TO THIS FILE. This is a good place for defaults.
# If you want to add secrets use `.env.production.local` instead, which is automatically detected by docker-compose.
NEXT_PUBLIC_API_ENDPOINT=http://localhost:3000
