{
  "extends": [
    "next/core-web-vitals",
    "next",
    "prettier",
    "plugin:@tanstack/eslint-plugin-query/recommended",
    "eslint:recommended",
    "google"
  ],
  "plugins": ["import", "@tanstack/query"],
  "rules": {
    "no-console": "error",
    "no-unused-vars": "error",
    "@next/next/no-document-import-in-page": "off",
    "import/no-unused-modules": [1, { "unusedExports": true }],
    "no-undef": "off",
    "object-curly-spacing": "off",
    "require-jsdoc": "off",
    "max-len": "off",
    "indent": "off",
    "no-useless-catch": "off",
    "camelcase": "off",
    "new-cap": "off",
    "operator-linebreak": "off",
    "quotes": "off"
  }
}
